<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, intitial-scale=1">
	<title>Recipe Search</title>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="food-planner-form.js"></script>
</head>
<body>
	<nav class="navbar navbar-default">
		<div class="container-fluid">
			<a class="navbar-brand" href="home.html">Food Planner</a>
			<ul class="nav navbar-nav">
				<li><a href="recipe-search-form.html">Recipe Search</a></li>
				<li><a href="food-planner-form.html">Meal Planner</a></li>
				<li><a href="help.html">Help</a></li>
			</ul>
		</div>
	</nav>
	
	<div class="container">
		<div class="jumbotron">
			<form class="planner-form">
				<div class="form-group">
					<label for="number-of-days">How many days would you like to plan for?</label>
					<select class="form-control" id="number-of-days-field">
						<option value=1>1 Day</option>
						<option value=2>2 Days</option>
						<option value=3>3 Days</option>
						<option value=4>4 Days</option>
						<option value=5>5 Days</option>
						<option value=6>6 Days</option>
						<option value=7>7 Days</option>
					</select>
				</div>
				
				<div class="form-group">
					<div id="day-group-1">
						<table class="table table-bordered">
							<thead class="thead-inverse">
								<tr>
									<th id="date1"></th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td class="col-md-4 text-center"><p id="breakfast1">Breakfast</p><input type="hidden" id="breakfast1entry"></td>
									<td class="col-md-4 text-center"><p id="lunch1">Lunch</p><input type="hidden" id="lunch1entry"></td>
									<td class="col-md-4 text-center"><p id="dinner1">Dinner</p><input type="hidden" id="dinner1entry"></td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</form>
				<!-- MEAL MODAL -->
				<div id="mealDayModal" class="modal fade">
					<div class="modal-dialog">
						<div class="modal-content">
							<div class="modal-header">
								<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
								<h4 class="modal-title recipe-label"></h4>
							</div>
							
							<div class="modal-body">
								<div class="form-group">
									<label for="ingredientList">List your ingredients separated by a comma</label>
									<input type="text" name="ingredient_list" id="ingredientList" class="form-control" placeholder="eg. Milk, cheese, honey... etc">
								</div>
								<div class="form-group">
									<div class="form-row">
										<div class="col-sm-6">
											<input type="number" name="minCals" id="minCals" class="form-control" placeholder="Min cals.">
										</div>
										<div class="col-sm-6">
											<input type="number" name="maxCals" id="maxCals" class="form-control" placeholder="Max cals.">
										</div>
									</div>
								</div>

								<button type="button" class="btn btn-primary" id="showResults">Show results</button>

								<div id="resultsDisplay"></div>
								<!--
								<div id="calorieRange">
									<input type="number" name="minCalories" id="minCalories" class="form-control" placeholder="Min cal.">
									<input type="number" name="maxCalories" id="maxCalories" class="form-control" placeholder="Max cal.">
								</div>-->

							</div>
						</div>
					</div>
				</div>
				<!-- END OF MEAL MODAL -->
				<!-- RESULT MODAL -->
				<div id="resultModal" class="modal fade">
					<div class="modal-dialog">
						<div class="modal-content">
							<div class="modal-header">
								<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
								<h4 class="modal-title customize-your-selections-box"></h4>
							</div>
							
							<div class="modal-body">
								<div class="form-group">
									<label id="recipe-label"></label>
									<input type="text" name="ingredient_list" id="ingredientList" class="form-control" placeholder="eg. Milk, cheese, honey... etc">
								</div>
								<div class="form-group">
									<div class="form-row">
										<div class="col-sm-6">
											<input type="number" name="minCals" id="minCals" class="form-control" placeholder="Min cals.">
										</div>
										<div class="col-sm-6">
											<input type="number" name="maxCals" id="maxCals" class="form-control" placeholder="Max cals.">
										</div>
									</div>
								</div>

								<button type="button" class="btn btn-primary" id="showResults">Show results</button>

								<div id="resultsDisplay"></div>
								<!--
								<div id="calorieRange">
									<input type="number" name="minCalories" id="minCalories" class="form-control" placeholder="Min cal.">
									<input type="number" name="maxCalories" id="maxCalories" class="form-control" placeholder="Max cal.">
								</div>-->

							</div>
						</div>
					</div>
				</div>
				<!-- END OF RESULT MODAL -->
			
		</div>
	</div>

</body>
</html>
