<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script type="text/javascript" src="register.js"></script>     
        <!--<script src="../handlebars-v4.0.11.js"></script>-->
        <title>
            Food Planner
        </title>
    </head>
    <body>
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <a class="navbar-brand" href="home.html">Food Planner</a>
                <ul class="nav navbar-nav">
                    <li><a href="recipe-search-form.html">Recipe Search</a></li>
                    <li><a href="food-planner-form">Meal Planner</a></li>
                    <li><a href="login">Login</a></li>
                </ul>
            </div>
        </nav>

        <div class="container">
            <div class="jumbotron">
                <form action="/register.html" method="post" class="userRegistration"> 
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-12">
                                <label for="email">Email</label>
                                <input type="email" name="email" class="form-control email">
                            </div>                          
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-6">
                                <label for="pword">Password</label>
                                <input type="password" name="password" id="password" onkeyup="checkPassword()" class="form-control password">
                                <div id="errorspw"></div>
                            </div>
                            <div class="col-md-6">
                                <label for="confpword">Confirm Password</label>
                                <input type="password" name="confpword" id="confpword" onkeyup="validatePassword()" class="form-control confpword">
                                <div id="errorsconfpw"></div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-6">
                                <label for="fname">First Name</label>
                                <input type="text" name="fname" class="form-control">
                            </div>
                            <div class="col-md-6">
                                <label for="lname">Last Name</label>
                                <input type="text" name="lname" class="form-control">
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-7">
                                <label for="city">City</label>
                                <input type="text" name="city" class="form-control">
                            </div>
                            <div class="col-md-5">
                                <label for="country">Country</label>
                                <input type="text" name="country" class="form-control">
                            </div>
                        </div>
                    </div>
                    <div class="form-group intolerances">
                        <label class="form-check-label">Intolerances</label>
                        <div class="form-check form-check-inline">
                            <label class="form-check-label">
                                <input class="form-check-input" name="intolerances" type="checkbox" value="DAIR"> Dairy
                            </label>
                        </div>
                        <div class="form-check form-check-inline">
                            <label class="form-check-label">
                                <input class="form-check-input" name="intolerances" type="checkbox" value="EGGS"> Eggs
                            </label>
                        </div>
                        <div class="form-check form-check-inline">
                            <label class="form-check-label">
                                <input class="form-check-input" name="intolerances" type="checkbox" value="FISH"> Fish
                            </label>
                        </div>
                        <div class="form-check form-check-inline">
                            <label class="form-check-label">
                                <input class="form-check-input" name="intolerances" type="checkbox" value="GLUT"> Gluten
                            </label>
                        </div>
                        <div class="form-check form-check-inline">
                            <label class="form-check-label">
                                <input class="form-check-input" name="intolerances" type="checkbox" value="PEAN"> Peanuts
                            </label>
                        </div>
                        <div class="form-check form-check-inline">
                            <label class="form-check-label">
                                <input class="form-check-input" name="intolerances" type="checkbox" value="SHEL"> Shellfish
                            </label>
                        </div>
                        <div class="form-check form-check-inline">
                            <label class="form-check-label">
                                <input class="form-check-input" name="intolerances" type="checkbox" value="SOYY"> Soy
                            </label>
                        </div>
                        <div class="form-check form-check-inline">
                            <label class="form-check-label">
                                <input class="form-check-input" name="intolerances" type="checkbox" value="TREE"> Tree Nuts
                            </label>
                        </div>
                        <div class="form-check form-check-inline">
                            <label class="form-check-label">
                                <input class="form-check-input" name="intolerances" type="checkbox" value="WHEA"> Wheat
                            </label>
                        </div>
                    </div>
                    <div class="form-group diets">
                        <label class="form-check-label">Diets</label>
                        <div class="form-check form-check-inline">
                            <label class="form-check-label">
                                <input class="form-check-input" name="diet" type="checkbox" value="ALCO"> Alcohol-free
                            </label>
                        </div>
                        <div class="form-check form-check-inline">
                            <label class="form-check-label">
                                <input class="form-check-input" name="diet" type="checkbox" value="BALA"> Balanced
                            </label>
                        </div>
                        <div class="form-check form-check-inline">
                            <label class="form-check-label">
                                <input class="form-check-input" name="diet" type="checkbox" value="HIFI"> High Fiber
                            </label>
                        </div>
                        <div class="form-check form-check-inline">
                            <label class="form-check-label">
                                <input class="form-check-input" name="diet" type="checkbox" value="HIPR"> High Protein
                            </label>
                        </div>
                        <div class="form-check form-check-inline">
                            <label class="form-check-label">
                                <input class="form-check-input" name="diet" type="checkbox" value="LOCA"> Low Carb
                            </label>
                        </div>
                        <div class="form-check form-check-inline">
                            <label class="form-check-label">
                                <input class="form-check-input" name="diet" type="checkbox" value="LOFA"> Low Fat
                            </label>
                        </div>
                        <div class="form-check form-check-inline">
                            <label class="form-check-label">
                                <input class="form-check-input" name="diet" type="checkbox" value="LOSO"> Low Sodium
                            </label>
                        </div>
                        <div class="form-check form-check-inline">
                            <label class="form-check-label">
                                <input class="form-check-input" name="diet" type="checkbox" value="LOSU"> Low Sugar
                            </label>
                        </div>
                        <div class="form-check form-check-inline">
                            <label class="form-check-label">
                                <input class="form-check-input" name="diet" type="checkbox" value="PALE"> Paleo
                            </label>
                        </div>
                        <div class="form-check form-check-inline">
                            <label class="form-check-label">
                                <input class="form-check-input" name="diet" type="checkbox" value="VEGA"> Vegan
                            </label>
                        </div>
                        <div class="form-check form-check-inline">
                            <label class="form-check-label">
                                <input class="form-check-input" name="diet" type="checkbox" value="VEGE"> Vegetarian
                            </label>
                        </div>
                    </div>
                    <input type="submit" class="btn btn-primary submit" onclick="checkValidated(event)" value="Submit">
                </form>
                
            </div>
        </div>   
        
    </body>
</html>